name: Build

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Build
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: npm
      - run: npm ci
      - run: npm run build

      - name: Zip package
        run: |
          mkdir -p release
          zip -jr release/send_vrc.zip ./dist/*

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: "release/send_vrc.zip"
          prerelease: ${{ contains(github.ref, '-beta') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
